<header class="post-header">
    <h2>Pick a date and click Register now</h2>
    <small class="post-title">FREE event, registration handled via Eventbrite</small> 
    <div style="text-align:center;" ><iframe  src="https://www.eventbrite.com/calendar-widget?eid=102330280624" frameborder="0" height="469" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:12px; padding:10px 0 5px; margin:2px; width:195px; text-align:center;" ></div></div>
</header>
{% include page_divider.html %}